// @import '~bootstrap/scss/bootstrap';
@use 'vars';
@use 'generics';
@use 'utils';

// HEADER
header {
    height: 150px;
    background-color: white;

    nav {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.links-list {
    display: flex;
    list-style: none;
    gap: 20px;
    height: 100%;
    align-items: center;

    li {
        height: 100%;
        display: flex;
        align-items: center;

        a {
            color: gray;
        }
    }
}

.links-list li:hover {
    border-bottom: 4px solid #0182F9;
}