// @import '~bootstrap/scss/bootstrap';
@use 'vars';
@use 'generics';
@use 'utils';
@use 'header';
@use '_main';
@use 'comics_card';




// JUMBOTRON
.jumbotron {
    height: 400px;
    background-image: url(../../config/assets/img/jumbotron.jpg);
    background-size: cover;
}